.grid-background {
    width: 100%;
}

.grid-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 0;
    padding: auto;
    aspect-ratio: 1 / 1;
    background-image: url("./../images/mars.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px #000000;
}
